@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --title-color: #b58e58;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.container {
  background-color: rgb(var(--background-end-rgb));
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
}
.comp-level li{
  background-color: #e2e8f0;
}
.comp-level.l5 li{
  background-color: #475569;
}
.comp-level.l4 li:not(:last-child){
  background-color: #475569;
}
.comp-level.l3 li:not(:nth-child(4)):not(:nth-child(5)){
  background-color: #475569;
}
.comp-level.l2 li:not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)){
  background-color: #475569;
}
.comp-level.l1 li:not(:nth-child(2)):not(:nth-child(3)):not(:nth-child(4)):not(:nth-child(5)){
  background-color: #475569;
}